@import url(colors.css);

html{
    overflow: hidden;
}

main{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.left{
    width: 40%;
    height: 100vh;
    background: var(--dark);
}

.right{
    width: 60%;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    font-family: serif
}

.video_somos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.video_somos iframe{
    width: 60%;
}


@media (max-width: 1000px) {
    main{
        flex-direction: column;
        overflow: auto;
    }

    html{
        overflow-y: auto;
    }

    .left{
        width: 100%;
        height: 500px;
    }

    .right{
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
}